@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
[data-theme="-"] {
  --primary: #0c529d;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;

  --accent-9: #fff;
  --accent-8: #fafafa;
  --accent-7: #eaeaea;
  --accent-6: #999999;
  --accent-5: #888888;
  --accent-4: #666666;
  --accent-3: #444444;
  --accent-2: #333333;
  --accent-1: #111111;
  --accent-0: #000;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
  overscroll-behavior-x: none;
}
.newsContent ul,
.newsContent ol {
  list-style: inherit;
  padding: revert;
  margin: revert;
}

@media only screen and (max-width: 600px) {
  .sectionBg {
    display: none;
  }
}

.max-w-8xl {
  max-width: 1620px;
}
@media (min-width: 1200px) and (max-width: 1380px) {
  .max-w-8xl {
    max-width: 100%;
    padding: 0 40px;
  }
}
.hContent ul,
.hContent ol {
  list-style-type: inherit;
  margin: 1em 0 1em 0;
  padding-inline-start: 40px;
}

.hContent ol {
  list-style-type: decimal;
  margin: 1em 0 1em 0;
  padding-inline-start: 40px;
  /* font-size: 12px; */
}

@media (min-width: 320px) and (max-width: 720px) {
  .container {
    max-width: 92%;
  }
}


body::-webkit-scrollbar {
  background-color: #fff;
  width: 12px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 2px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}