@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  min-height: calc(100vh - 220px);
}

.htmltext ul {
  color: #585858 !important;
  font-size: 16px !important;
  list-style-type: disc;
}
.htmltext ol {
  /* color: #585858 !important; */
  list-style-type: decimal;
  font-size: 16px !important;
}

.htmltext span p {
  font-size: 16px !important;
  font-family: "Roboto", sans-serif !important;
}
.htmltext p {
  font-size: 16px !important;
  /* font-family: "Roboto sans-serif " !important; */
}

.htmltext span {
  font-size: 16px !important;
  font-family: "Roboto", sans-serif !important;
  /* font-family: "Roboto sans-serif " !important; */
}

.htmltext img {
  max-width: 100% !important;
  width: inherit !important;
  margin: 20px 0;
}

.htmltext div {
  font-size: 16px !important;
  margin: 10px 0px;
}

.text-lg {
  font-size: 16px !important;
}

/* .submenu .submenu ul li div::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #5c5c58;
  border-radius: 86px;
  position: relative;
  left: -7px;
  top: 0;
} */

.submenu .submenu ul {
  padding-left: 15px;
}

.singlesidebar .vmenu .li:first-child div {
  /* border-radius: 20px 0px 0px 0px;
  bac */
  background: #585858;
}
